.wrapper {
    width: 100%;
    height: 100%;
    display: inline-flex;
}

/*
* Search sidebar
*/

.aside {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    background-color: #1ba5ce
}

.searchForm {
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.searchInput {
    box-sizing: border-box;
    padding: 3px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.searchHint {
    font-size: 13px;
    position: absolute;
    width: 100%;
    visibility: hidden;
    top: -9px;
    color: #dccece;
    transition: top 0.5s;
}
.searchHint.show {
    visibility: visible;
    top: 10px;
}

.searchButton {
    width: 100%;
    cursor: pointer;
}

.paginationWrapper {
    display: flex;
    justify-content: space-around;
}

.paginationWrapper label {
    margin-left: 5px;
    font-size: 12px;
}

/*
* Main part
*/

.main {
    width: 100%;
    margin-left: 350px;
    padding: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.tableCell {
    border: 1px solid;
    padding: 5px;
}

.pagesWrapper {
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.error {
    text-align: center;
    color: red;
    font-size: 30px;
}